body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.card{
    width: 250px;
    align-items: center;
    border-radius: 16px;
    border: 2px solid black;
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    box-shadow: 8px 8px 0 black ,12px 12px 15px rgba(0,0,0,0.15);
    font-family: "Figtree", sans-serif;
}
#main{
    width: 100%;
    border-radius: 16px;
}
button{
    background-color: hsl(47, 88%, 63%);
    border: hsl(47, 88%, 63%);
    border-radius: 3px;
}
.footer{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border: 2px solid hsl(0, 0%, 100%);
}
b{
    color: hsl(0, 0%, 7%);
    font-weight: 500;
}
.heading{
    font-weight: 800;
}
.footer > p{
    font-weight: 800;
    margin-left: 10px;
}
.footer > img{
    padding: 2px;
    width: 50px;
}
.p{
    color: hsl(0, 0%, 42%);
}
button{
    font-weight: 800;
    margin-top: 10px;
}
@media(min-width:1440px){
    .card{
        width: 320px;
        padding: 20px;
        font-size: 11px;
    }
}
